@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 70px;
    background-color: rgb(255, 123, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 35px;
    font-family: 'Protest Riot', sans-serif;
}
.nav-anchor ul a{
    text-decoration: none;
    padding: 12px;
    color: white;
    font-size: 17px;
    font-family: 'Protest Riot', sans-serif;
}
.nav-anchor ul a:hover{
    color: rgb(240, 201, 201);
}
.slider{
    background-image: url(/Assignment2/images/pizza.jpg);
    width: 1349px;
    height: 700px;
    animation: slider 9s infinite linear;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes slider {
    0%{
        background-image: url(/Assignment2/images/pizza.jpg);
    }
    40%{
        background-image: url(/Assignment2/images/pizza2.jpg);
    }
    80%{
        background-image: url(/Assignment2/images/pizza3.jpg);
    }
}
